asn1crypto==0.24.0
azure-cognitiveservices-vision-customvision==1.0.0
azure-common==1.1.18
azure-storage-blob==1.5.0
azure-storage-common==1.4.0
certifi==2022.12.7
cffi==1.12.2
chardet==3.0.4
cryptography==2.6.1
idna==2.8
isodate==0.6.0
msrest==0.6.6
oauthlib==3.0.1
pycparser==2.19
python-dateutil==2.8.0
requests==2.21.0
requests-oauthlib==1.2.0
six==1.12.0
urllib3==1.24.1
